@model MasterDetailCRUD.Models.Applicant

@{
    ViewData["Title"] = "Delete";
}

<div class="col-11 mx-auto pt-0">

    <div class="text-center bg-danger border border-dark rounded-pill">
        <div class="h2 text-white">Are you sure you want to delete this? </div>
    </div>
    <br />
    <div class="card shadow">
        <div class="card-hearder bg-primary text-uppercase text-white" style="height: 45px;">
            <h4>Delete Applicant</h4>
        </div>

        <form id="ApplicantForm" enctype="multipart/form-data" asp-action="Delete">

            <input type="hidden" asp-for="Id" />

            <div class="card-body">
                <div class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control-plaintext" readonly />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <input asp-for="Gender" class="form-control-plaintext" readonly />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control-plaintext" readonly />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Qualification" class="control-label"></label>
                            <input asp-for="Qualification" class="form-control-plaintext" readonly />
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TotalExperiencie" class="control-label"></label>
                            <input asp-for="TotalExperiencie" class="form-control-plaintext" readonly />
                        </div>
                    </div>

                    <div class="col-md-6 btn-group">
                        <img src="~/image/@Model.PhotoUrl" class="img-fluid" />
                    </div>

                    <div class="p-2 my-2">

                        <table id="ExpTable" class="table table-sm table-hover" style="margin-bottom: 0 !important">
                            <thead class="table-info">
                                <tr>
                                    <th class="text-center">Company Name</th>
                                    <th class="text-center">Designation</th>
                                    <th class="text-center">Years Worked</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Experiences.Count; i++)
                                {
                                    <tr>
                                        <td>
                                            <input type="text" asp-for="@Model.Experiences[i].CompanyName" class="form-control-plaintext" readonly>
                                        </td>
                                        <td>
                                            <input type="text" asp-for="@Model.Experiences[i].Designation" class="form-control-plaintext" readonly>
                                        </td>
                                        <td>
                                            <input type="number" asp-for="@Model.Experiences[i].YearsWorked" class="form-control-plaintext" readonly>
                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <input type="hidden" id="hdnLastIndex" value="0" />
                    </div>
                </div>
            </div>

            <div class="card-footer col-12 btn-group">
                <div class="col-6 text-end p-2">
                    <a asp-action="Index" class="btn btn-secondary">Volver</a>
                </div>
                <div class="col-6 text-start p-2">
                    <input type="submit" value="Eliminar" class="btn btn-danger" />
                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
